
:root {
    /* BG Colors */
    --bg-color-white: hsl(0, 0%, 100%);
    --bg-color-lightgray: hsl(212, 45%, 89%);
    --bg-color-grayishblue: hsl(220, 15%, 55%);
    --bg-color-darkblue: hsl(218, 44%, 22%);
    }



* {
    /* CSS Reset */
    margin: 0;
    padding: 0;
    box-sizing: border-box;


    font-family: Outfit;
}

img{
    max-width: 100%;
}

body{

    background-color: var(--bg-color-lightgray);

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    gap: 1em;
}

p{
    font-size: 15px;
}



    .card{
        background-color: white;

        display: flex;
        flex-direction: column;
        align-items: center;

        max-width: 300px;
        padding: 1rem;
        gap: 1rem;
        border-radius: 15px;

        text-align: center;
        }


        .card__qr img{
            border-radius: 15px;
        }
        .card__title{
            font-weight: 700;
            width: 85%;
            color: var(--bg-color-darkblue);
            font-size: .6rem;
            
        }
        
        .card__description{
        padding-bottom: 1rem;
        font-weight: 400;
        width: 90%;
        color: var(--bg-color-grayishblue);
        }


@media only screen and (max-width: 530px) {
 
body {
    padding: 0 1em;
}

}
